/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.donations-plugin-warning {
    background-color: #ffeb3b !important;
    color: #000 !important;
    border: 1px solid #ccc !important;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 10px 15px;
    border-radius: 4px;
}

.donations-plugin-success {
    background-color: #5cb85c !important;
    color: #000 !important;
    border: 1px solid #ccc !important;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 10px 15px;
    border-radius: 4px;
}

.donations-plugin-error {
    background-color: #cc0000 !important;
    color: #000 !important;
    border: 1px solid #ccc !important;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 10px 15px;
    border-radius: 4px;
}

#dp-countdown {
    float: right;
}

.dp-input-group {
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
}

.dp-input-group i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 60px;
    text-align: center;
    font-style: normal;
    right: 0;
}

.dp-input-group input, .dp-input-group > div, .dp-input-group select {
    border-radius: 4px;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(183, 188, 191);
    border-style: solid;
    box-sizing: border-box;
    font-size: 14px;
    height: 48px;
    outline: 0px;
    padding: 16px 15px;
    width: 100%;
    appearance: none;
}

.dp-input-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 11px;
}

.dp-submit-button {
    border-radius: 4px;
    background-color: #2c2e2f;
    color: white;
    border: none;
    outline: none;
    width: 100%;
    padding: 17px 15px;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
}

.dp-donate-button {
    border-radius: 4px;
    background-color: #2c2e2f;
    color: white;
    border: none;
    outline: none;
    padding: 8px 15px;
    font-size: 15px;
    cursor: pointer;
}

.dp-input-group input::-webkit-outer-spin-button,
.dp-input-group input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Add this CSS to your stylesheet */
.dp-loading {
    cursor: not-allowed;
    opacity: 0.6;
}

.dp-loading::after {
    content: '...'; /* You can replace this with a spinner image if you prefer */
    display: inline-block;
    margin-left: 10px;
}

.dp-input-group input[type=number] {
    -moz-appearance: textfield;
}

.dp-input-group label {
    color: rgb(108, 115, 120);
    font-size: 15px;
    left: 15px;
    line-height: 1;
    pointer-events: none;
    position: absolute;
    top: 17px;
    transform: none;
    transform-origin: left top 0px;
    transition: all 0.25s ease-in-out 0s;
}


.dp-button-group {
    display: inline;
}

.dp-none {
    display: none;
}

.dp-button-group button {
    background-color: #2c2e2f;
    color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 3px 6px;
    cursor: pointer;
}

.dp-progress-bar {
    width: 100%;
    background-color: #ddd;
}

.dp-bar {
    width: 20%;
    height: 30px;
    background-color: #2c2e2f;
    text-align: center;
    line-height: 30px;
    color: white;
}

.dp-funded-info h5 {
    margin-bottom: 10px;
}

/* The Modal (background) */
.dp-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 101; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
}


.dp-modal h2 {
    margin-top: 0;
}

/* Modal Content */
.dp-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
}

/* The Close Button */
.dp-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.dp-close:hover,
.dp-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}